[Desktop Entry]
Name=$desktopName
Comment=$desktopComment
Exec=$desktopExec${desktopIcon:+
Icon=}$desktopIcon
Type=Application${desktopAutostart:+
}${desktopAutostart}${desktopCategories:+
Categories=}${desktopCategories}${desktopCategories:+;}
